{% extends "base.twig" %}

{% block body %}

<div id="login-form" style="margin-top: 30px; text-align: center">
    <form method="post" action="/th/member/login/auth">
    <span style="font-size: 1.3em; color: #e20718">เข้าสู่ระบบ</span>
    <div class="form-group">
        <input type="text" class="input input-light" name="email" id="email" placeholder="อีเมล หรือ ชื่อผู้ใช้" value="" style="width: 400px;">
    </div>
    <div class="form-group">
        <input type="password" class="input input-light" name="password" id="password" placeholder="รหัสผ่าน" value="" style="width: 400px;">
    </div>
    <div class="form-group">
        <input type="submit" id="submit" class="next-button" value="ถัดไป" style="width: 400px;" />
    </div>

        {% if error %}
        <div>
            <p style="color: red">User name หรือ password ผิดพลาด</p>
        </div>
        {% endif %}

    <span>หากคุณยังไม่ได้เป็นสมาชิกคลิกเลย > <a href="/th/member/register">สมัครสมาชิกใหม่</a></span>
        {{ csrf_field() }}
    </form>
</div>

{% endblock %}
